<div class="container">
  <form class="form" (ngSubmit)="onSubmitIngredient(form)" #form="ngForm">
    <div class="inputs-container">
      <div class="form-item name">
        <label for="name">Name</label>

        <input id="name" type="text" name="nameInput" ngModel required>
      </div>

      <div class="form-item amount">
        <label for="amount">Amount</label>

        <input id="amount" type="number" name="amountInput" pattern="^[1-9]+[0-9]*" ngModel required>
      </div>
    </div>

    <div class="buttons">
      <button type="submit" class="add-button" [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add'}}</button>

      <button type="button" class="delete-button">Delete</button>

      <button type="button" class="clear-button">Clear</button>
    </div>
  </form>
</div>
