<div class="container">
  <div class="center">
    <img [src]="recipe.image" alt="{{ recipe.name }}">

    <div class="name">
      <p class="details-header">{{ recipe.name }}</p>

      <div class="dropdown" (clickOutside)="onClickedOutside()">
        <button (click)="show = !show">
          Manage recipe
          <i [ngClass]="{'up': show}"></i>
        </button>

        <div class="dropdown-content" *ngIf="show">
          <a class="drop-item">To shopping list</a>

          <a class="drop-item">Edit recipe</a>

          <a class="drop-item">Delete recipe</a>
        </div>
      </div>
    </div>
  </div>

  <p>{{ recipe.description }}</p>

  <div class="details-ingredients" >
    <p class="ingredients-header">Ingredients:</p>

    <div class="ingredients" *ngFor="let ingredients of recipe.ingredients">
      <p>{{ ingredients.name }} -</p>

      <p>{{ ingredients.amount }}</p>
    </div>
  </div>
</div>
