* {
  box-sizing: border-box;
}

.container {
  padding-top: 1vmin;

  .buttons {

    button {
      padding: 1vmin 2vmin;
      margin-bottom: 1vmin;
      border: none;
      border-radius: 0.5vmin;
      color: #333;
      font-size: 2vmin;

      &:disabled {
        opacity: 0.5;
      }
    }

    .save-button {
      background-color: #A7C4BC;
      margin-right: 1vmin;
    }

    .cancel-button {
      background-color: #d08181;
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vmin;
    font-weight: 400;
    font-size: 1.7vmin;
  }

  .ingredients-container {
    margin-bottom: 1vmin;
    font-weight: 400;
    font-size: 1.7vmin;


    .ingredients-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1vmin;
      font-weight: 400;
      font-size: 1.7vmin;
      width: 80vmin;

      .name {
        input {
          width: 60vmin;
        }
      }

      .amount {
        input {
          width: 15vmin;
        }
      }

      .delete-ingredient {
        height: 3vmin;
        width: 3vmin;
        border: none;
        border-radius: 0.5vmin;
        color: #333;
        background-color: #d08181;
        font-size: 2vmin;
        text-align: center;

        &:disabled {
          opacity: 0.5;
        }
      }
    }

    .add-ingredient {
      padding: 1vmin 2vmin;
      border: none;
      border-radius: 0.5vmin;
      color: #333;
      font-size: 2vmin;
      background-color: #D7B19D;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}

textarea {
  width: 80vmin;
  max-width: 80vmin;
  min-width: 80vmin;
  color: #333;
  border-radius: 0.5vmin;
  border: 1px solid #333;
  outline: none;
  padding: 1vmin 1.5vmin;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vmin;
}

input {
  color: #333;
  border-radius: 0.5vmin;
  border: 1px solid #333;
  outline: none;
  padding: 1vmin 1.5vmin;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vmin;
}

label {
  margin-bottom: 0.6vmin;
}

.opacity {
  opacity: 0.7;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid #DA0037;
}
